@import url('https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root{
    /* MAIN SETTINGS */
    --chat-desktop-width: 410px;
    --chat-desktop-height: 550px;
    --chat-primary: #4680FD;
    --chat-secondary: #0034A3;
    --chat-borderRadius: 15px;
    --chat-border: 1px solid rgba(230, 230, 230, 0.5);

    /* CHAT OPEN BUTTON SETTINGS */
    --chat-messageOpenBorderRadius: 50%;
    --chatMainGradient: var(--chat-primary);

    /* CHAT HEADER SETTINGS */
    --chat-headerGradient: linear-gradient(-90deg, #3c3e4e, #131417);
    --chat-headerTextColor: #FFFFFF;
    --chat-headerBottomBorder: none;
    --chat-headerButtonBackground: #FFFFFF;
    --chat-headerButtonSVGFill: #131417;

    /* CHAT BODY SETTINGS */
    --chat-bodyBorderRadius: 20px 20px 0px 0px;
    --chat-chatBackground: rgb(241, 242, 245);
    --chat-messageFontSize: 1.1rem;
    --chat-messageLineHeight: 1.4rem;
    --chat-messageBoxShadow: 0px 0px 20px rgba(26, 27, 49, 0.1);
    --chat-messageBorder: 0px solid rgba(75, 70, 116, 0.3);
    --chat-linkColor: #0034A3;
    --chat-messageBorderRadius: 15px;
    --chat-botMessageBackground: #ffffff;
    --chat-botMessageColor: #131417;
    --chat-userMessageTextColor: #ffffff;
    --chat-userMessageBackground: #3c3f4e;

    /* CHAT INPUT SETTINGS */
    --chat-inputBackground: #FFFFFF;
    --chat-inputOutline: 1px solid #131417;
    --chat-inputBorder: 1px solid rgba(75, 70, 116, 0.3);
    --chat-inputBorderRadius: 10px;
    --chat-inputSendButtonBackground: var(--chat-primary);
    --chat-inputSendButtonDisabledBackground: rgb(197, 197, 197);
    --chat-inputSendButtonBorderRadius: 7px;
    --chat-inputSendButtonSVGFill: #FFFFFF;
    --chat-inputTextAreaPlaceholderColor: rgba(111, 122, 146, 0.7);
}

/* CHAT MAIN */

#optiflowz-chat{
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex !important;
    gap: 15px;
    padding: 15px;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: flex-end;
    z-index: 999999999;
}

#optiflowz-chat *{
    font-family: "K2D", sans-serif !important;
    font-optical-sizing: auto !important;
    font-style: normal !important;
    box-sizing: border-box !important;
    -webkit-tap-highlight-color: transparent !important;
}

#optiflowz-chat img{
    user-select: none;
    -moz-user-select: none;
    pointer-events: none;
}

#optiflowz-chat-open{
    background:  var(--chatMainGradient);
    border: none;
    padding: 0px !important;
    width: 65px;
    height: 65px;
    border-radius: var(--chat-messageOpenBorderRadius) !important;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s ease-out;
}

#optiflowz-chat-open svg{
    width: 35px;
    height: 35px;
    animation: iconAppear .1s ease-in-out;
}

#optiflowz-chat-open svg:nth-child(1){
    display: block;
}
#optiflowz-chat-open svg:nth-child(2){
    display: none;
}
.chat-open #optiflowz-chat-open svg:nth-child(1){
    display: none;
}
.chat-open #optiflowz-chat-open svg:nth-child(2){
    display: block;
}

@keyframes iconAppear {
    from{ opacity: 0; transform: scale(0); }
    top{ opacity: 1; transform: scale(1); }
}

#optiflowz-chat-open svg path{
    fill: white;
}

#optiflowz-chat-open:hover{
    transform: scale(1.05);
    filter: brightness(0.8);
}
#optiflowz-chat-open.buttonDown{
    transform: scale(0.92) !important;
}

.optiflowz-chat-wrapper{
    max-width: var(--chat-desktop-width);
    width: calc(100vw - 30px);
    max-height: var(--chat-desktop-height);
    height: calc(100dvh - 110px);
    background: var(--chat-headerGradient);
    border-radius: var(--chat-borderRadius);
    outline: var(--chat-border);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    overflow: hidden;
    transform-origin: bottom right;
    transition: opacity .1s ease-in-out, transform .15s ease-in-out;
    transform: scale(0);
    opacity: 0;
    pointer-events: none;
}
@media screen and (max-width: 480px) {
    .optiflowz-chat-wrapper{
        max-height: calc(100dvh - 110px);
        max-width: calc(100vw - 30px);
    }
}

.chat-displayNone{
    display: none !important;
}

.chat-open .optiflowz-chat-wrapper{
    transform: scale(1);
    opacity: 1;
    pointer-events: all;
}

/* CHAT HEADER */

.optiflowz-chat-header{
    width: 100%;
    background: transparent;
    border-bottom: var(--chat-headerBottomBorder);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    z-index: 3;
}

.optiflowz-chat-header div{
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--chat-headerTextColor);
}

.optiflowz-chat-header div img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid rgba(75, 70, 116, 0.3);
}

.optiflowz-chat-header div h1{
    font-size: 1.3rem;
    font-weight: 600;
    margin: 0;
    color: var(--chat-headerTextColor);
}

.optiflowz-chat-header div button{
    position: relative;
    background: var(--chat-headerButtonBackground);
    border-radius: 7px;
    border: none;
    width: 32px;
    height: 32px;
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: all .15s ease-in-out;
}

.optiflowz-chat-header div button::after{
    content: "Nova konverzacija";
    opacity: 0;
    position: absolute;
    top: 34px;
    right: 0;
    width:max-content;
    padding: 5px;
    padding-inline: 10px;
    border-radius: 7px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.582);
    background: var(--chat-headerButtonBackground);
    pointer-events: none;
    transition: all .2s ease-in-out .05s;
}
.optiflowz-chat-header div button:hover::after{
    filter: none;
    opacity: 1;
    top: 37px;
}

.optiflowz-chat-header div button:nth-child(2)::after{
    content: "Oceni konverzaciju";
}

.optiflowz-chat-header div button:hover{
    filter: brightness(0.8);
}

.optiflowz-chat-header div button svg{
    width: 20px;
    height: 20px;
    transition: all .1s ease-in-out;
}
.optiflowz-chat-header div button svg path{
    stroke: var(--chat-headerButtonSVGFill);
}

#optiflowz-chat-more:hover > svg{
    scale: 0.95;
}

#optiflowz-chat-more:hover{
    background-color: rgba(255, 255, 255, 0.75);
}

#optiflowz-chat-more div{
    display: flex;
    flex-direction: column;
    gap: 0px;
    position: absolute;
    top: 40px;
    right: 0;
    background: var(--chat-headerButtonBackground);
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.7);
    transform-origin: top right;
    transition: all .1s ease-in-out;
}

#optiflowz-chat-more div.open{
    opacity: 1;
    pointer-events: all;
    transform: scale(1);
}

#optiflowz-chat-more div p{
    display: flex;
    align-items: center ;
    justify-content: flex-start;
    gap: 10px;
    width: max-content;
    min-width: 100%;
    padding-block: 10px;
    margin: 0px;
    padding-right: 15px;
    padding-left: 10px;
    color: var(--chat-headerButtonSVGFill);
    cursor: pointer;
    transition: all .1s ease-in-out;
}

#optiflowz-chat-more div p:hover{
    background: rgba(0, 0, 0, 0.1);
}

#optiflowz-chat-more div p svg{
    width: 20px;
    height: 20px;
    margin-top: 1px;
}

/* CHAT BODY */

.optiflowz-chat-body{
    scroll-behavior: smooth;
    position: relative;
    background: var(--chat-chatBackground);
    border-radius: var(--chat-bodyBorderRadius);
    border-right: 2px solid transparent;
    flex-grow: 1;
    width: 100%;
    overflow-y: scroll;
    z-index: 1;
}

.optiflowz-chat-body::-webkit-scrollbar{
    width: 6px;
}

.optiflowz-chat-body::-webkit-scrollbar-track{
    background-color: transparent;
    margin-top: 25px;
}

.optiflowz-chat-body::-webkit-scrollbar-thumb{
    background: var(--chat-userMessageBackground);
    border-radius: 10px;
}

.optiflowz-chat-messages{
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    padding-right: 10px;
}

.optiflowz-chat-messages > div{
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.optiflowz-chat-messages div div{
    background: var(--chat-botMessageBackground);
    color: var(--chat-botMessageColor);
    box-shadow: var(--chat-messageBoxShadow);
    font-weight: 400;
    max-width: calc(75vw - 20px);
    padding: 20px;
    padding-block: 15px;
    border-radius: var(--chat-messageBorderRadius);
    border: var(--chat-messageBorder);
    margin: 0px;
    word-break: break-word;
    -ms-word-break: break-word;
}

.optiflowz-chat-messages .questions{
    flex-direction: column;
    width: 100%;
    gap: 7px;
}
.optiflowz-chat-messages .questions div{
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background: var(--chat-headerGradient);
    color: var(--chat-userMessageTextColor);
    width: 100%;
    max-width: 100%;
    cursor: pointer;
    transition: all .15s ease-in-out;
}
.optiflowz-chat-messages .questions div:hover{
    filter: brightness(0.92);
    transform: scale(1.01);
}

.optiflowz-chat-messages div div p{
    margin: 0;
    font-size: var(--chat-messageFontSize);
    line-height: var(--chat-messageLineHeight);
}

.optiflowz-chat-messages div div span{
    font-size: 0.9rem;
    opacity: 0.6;
    display: block;
    width: 100%;
    text-align: right;
    margin-top: 5px;
    pointer-events: none;
    user-select: none;
}

.optiflowz-chat-message-user{
    align-self: flex-end;
    flex-direction: row-reverse;
}

.optiflowz-chat-message-agent div{
    border-top-left-radius: 0px !important;
}
.optiflowz-chat-message-user div{
    background: var(--chat-userMessageBackground) !important;
    color: var(--chat-userMessageTextColor) !important;
    border-bottom-right-radius: 0px !important;
}

.optiflowz-chat-message-user div span{
    text-align: left !important;
}

.optiflowz-chat-messages div img{
    background-color: white;
    border: 1px solid rgba(75, 70, 116, 0.3);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    flex-shrink: 0;
}

.optiflowz-chat-messages div p a{
    color: var(--chat-linkColor);
    font-weight: 700;
}

.optiflowz-typing-indicator div span{
    flex-shrink: 0;
    width: 7px !important;
    height: 7px !important;
    background: #3c3e4e !important;
    border-radius: 50% !important;
    animation: dotBounce 1s infinite;
}

.optiflowz-typing-indicator div p{
    opacity: 0.7 !important;
    color: #3c3e4e !important;
    font-weight: 500;
    margin-left: 10px !important;
    pointer-events: none !important;
}

.optiflowz-typing-indicator div span:nth-child(1){
    animation-delay: 0s;
}
.optiflowz-typing-indicator div span:nth-child(2){
    animation-delay: 0.2s;
}
.optiflowz-typing-indicator div span:nth-child(3){
    animation-delay: 0.4s;
}

.optiflowz-typing-indicator div{
    border-radius: 30px !important;
    display: flex;
    align-items: center;
    gap: 7px;
}

.optiflowz-typing-indicator.small div{
    height: 35px !important;
}

@keyframes dotBounce {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-4px);
    }
    100%{
        transform: translateY(0);
    }
}

/* CHAT RATING */

.optiflowz-rating-wrapper, .optiflowz-chat-form, .optiflowz-chat-form-rejoin, .optiflowz-chat-error{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    display: grid;
    place-items: center;
    pointer-events: none;
    opacity: 0;
    transition: all .15s ease-in-out;
}

.optiflowz-rating-wrapper.open, .optiflowz-chat-form.open, .optiflowz-chat-form-rejoin.open, .optiflowz-chat-error.open{
    pointer-events: all;
    opacity: 1;
}

.closeRatingWrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.optiflowz-rating-content{
    background: var(--chat-botMessageBackground);
    border: var(--chat-inputBorder);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    z-index: 1;
    transform: scale(0.5);
    transition: all .15s ease-in-out;
}

.open .optiflowz-rating-content{
    transform: scale(1);
}

.optiflowz-rating-content h2{
    margin: 0px;
    color: var(--chat-botMessageColor);
    font-size: 1.1rem;
    font-weight: 700;
    text-align: center;
}

.optiflowz-rating-content div{
    display: flex;
    gap: 10px;
}

.optiflowz-rating-content .optiflowz-rating-actions button{
    border-radius: 20px;
    height: 30px;
    padding-inline: 20px;
    padding-bottom: 2px;
    background: var(--chat-botMessageBackground);
    border: var(--chat-inputBorder);
    transition: all .15s ease-in-out;
    cursor: pointer;
}
.optiflowz-rating-content .optiflowz-rating-actions button:nth-child(2){
    background: var(--chat-primary);
    color: #FFF;
}
.optiflowz-rating-content .optiflowz-rating-actions button:hover{
    filter: brightness(0.9);
}

.optiflowz-rating-content .optiflowz-rating-buttons button{
    border-radius: 30px;
    width: 30px;
    height: 30px;
    padding-inline: 0px;
    padding-bottom: 2px;
    background: var(--chat-botMessageBackground);
    border: var(--chat-inputBorder);
    transition: all .15s ease-in-out;
    cursor: pointer;
}

.optiflowz-rating-content .optiflowz-rating-buttons button:hover{
    border-radius: 7px;
    font-weight: 700;
}
.optiflowz-rating-content .optiflowz-rating-buttons button.selected{
    border-radius: 7px;
    font-weight: 700;
    transform: scale(1.1) rotate(5deg);
}

.optiflowz-rating-content .optiflowz-rating-buttons button:nth-child(1):hover, 
.optiflowz-rating-content .optiflowz-rating-buttons button.selected:nth-child(1){
    background-color: rgb(255, 75, 75);
}
.optiflowz-rating-content .optiflowz-rating-buttons button:nth-child(2):hover,
.optiflowz-rating-content .optiflowz-rating-buttons button.selected:nth-child(2){
    background-color: rgb(255, 102, 56);
}
.optiflowz-rating-content .optiflowz-rating-buttons button:nth-child(3):hover,
.optiflowz-rating-content .optiflowz-rating-buttons button.selected:nth-child(3){
    background-color: rgb(255, 141, 48);
}
.optiflowz-rating-content .optiflowz-rating-buttons button:nth-child(4):hover,
.optiflowz-rating-content .optiflowz-rating-buttons button.selected:nth-child(4){
    background-color: rgb(255, 202, 88);
}
.optiflowz-rating-content .optiflowz-rating-buttons button:nth-child(5):hover,
.optiflowz-rating-content .optiflowz-rating-buttons button.selected:nth-child(5){
    background-color: rgb(255, 230, 0);
}

.optiflowz-chat-form div, .optiflowz-chat-form-rejoin div, .optiflowz-chat-error div{
    width: 100% !important;
    max-width: 100vw !important;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.optiflowz-chat-form div p, .optiflowz-chat-form-rejoin div p{
    text-align: center;
    font-size: 1.1rem;
    font-weight: 700;
    margin: 0px;
    margin-bottom: 10px;
}

.optiflowz-chat-form div input, .optiflowz-chat-form-rejoin div input{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: var(--chat-inputBorder);
}
.optiflowz-chat-form div input::placeholder, .optiflowz-chat-form-rejoin div input::placeholder{
    color: var(--chat-inputTextAreaPlaceholderColor);
}
.optiflowz-chat-form div input:focus, .optiflowz-chat-form-rejoin div input:focus{
    outline: none;
    border: var(--chat-inputOutline);
}
.optiflowz-chat-form div input.error, .optiflowz-chat-form-rejoin div input.error{
    border: 1px solid red;
}
.optiflowz-chat-form section, .optiflowz-chat-form-rejoin section, .optiflowz-chat-error section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
}
.optiflowz-chat-form section button, .optiflowz-chat-form-rejoin section button, .optiflowz-chat-error section button{
    background: var(--chat-botMessageBackground);
    height: 30px;
    padding-inline: 20px;
    border-radius: 30px;
    border: var(--chat-inputBorder);
    cursor: pointer;
    transition: all .1s ease-in-out;
}
.optiflowz-chat-form section button:nth-child(2), .optiflowz-chat-form-rejoin section button:nth-child(2){
    background: var(--chat-primary);
    color: #FFFFFF;
}
.optiflowz-chat-form section button:hover, .optiflowz-chat-form-rejoin section button:hover, .optiflowz-chat-error section button:hover{
    filter: brightness(0.8);
}

/* CHAT INPUT */

.optiflowz-chat-input{
    position: relative;
    background: var(--chat-chatBackground);
    min-height: 65px;
    width: 100%;
    padding: 10px;
    padding-top: 0px;
    flex-shrink: 0;
    z-index: 2;
}

.optiflowz-chat-input div{
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0px;
    align-items: center;
    justify-content: space-between;
    background-color: var(--chat-inputBackground);
    border: var(--chat-inputBorder);
    border-radius: var(--chat-inputBorderRadius);
}

.optiflowz-chat-input div:focus-within{
    border: var(--chat-inputOutline);
}

.optiflowz-chat-input div textarea{
    box-sizing: border-box;
    height: 45px;
    flex-grow: 1;
    background-color: transparent;
    border: none;
    resize: none;
    font-size: 1.1rem;
    padding-top: 11px;
    padding-left: 15px;
}

.optiflowz-chat-input div textarea::-webkit-scrollbar{
    width: 6px;
}

.optiflowz-chat-input div textarea::-webkit-scrollbar-track{
    background-color: transparent;
}

.optiflowz-chat-input div textarea::-webkit-scrollbar-thumb{
    background: var(--chat-userMessageBackground);
    border-radius: 10px;
}

.optiflowz-chat-input div textarea::placeholder{
    color: var(--chat-inputTextAreaPlaceholderColor);
}

.optiflowz-chat-input div textarea:focus{
    outline: none;
}

.optiflowz-chat-input div button{
    filter: grayscale(1);
    background: var(--chat-inputSendButtonDisabledBackground);
    border: none;
    border-radius: var(--chat-inputSendButtonBorderRadius);
    margin: 7px;
    aspect-ratio: 1 / 1;
    display: grid;
    place-items: center;
    cursor: not-allowed;
    padding: 10px;
    transition: all .15s ease-in-out;
}

.optiflowz-chat-input div button.clickable{
    background: var(--chat-inputSendButtonBackground);
    pointer-events: all;
    cursor: pointer;
    filter: grayscale(0);
}

.optiflowz-chat-input div button.clickable:hover{
    filter: brightness(0.8);
}

.optiflowz-chat-input div button svg{
    width: 20px;
    height: 20px;
    transition: all .1s ease-in-out;
}
.optiflowz-chat-input div button svg path{
    fill: var(--chat-inputSendButtonSVGFill);
}

.optiflowz-chat-input div button.clickable:hover svg{
    animation: send-flutter .3s ease-in-out;
}

@keyframes send-flutter {
    0%{ transform: scaleY(1) translateX(0px); }
    50%{ transform: scaleY(0.6) translateX(-1px); }
    85%{ transform: scaleY(1.2) translateX(1px); }
    100%{ transform: scaleY(1) translateX(0px); }
}

/* LOADER */

.optiflowz-chat-loader{
    position: absolute;
    top: -5px;
    bottom: -5px;
    left: -5px;
    right: -5px;
    display: grid;
    place-items: center;
    transition: all .2s ease-in-out;
    background-color: var(--chat-chatBackground);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    z-index: 6;
}

.optiflowz-chat-loader.off{
    opacity: 0;
    pointer-events: none;
}

.optiflowz-chat-loader svg {
    box-sizing: border-box;
    width: 3rem;
    height: 3rem;
    padding: 2px;
    transition: all .15s ease-in-out;
    transform-origin: right center;
    overflow: visible;
}

.optiflowz-chat-loader svg circle {
    stroke: var(--chat-primary);
    fill: none;
    stroke-width: 2px;
    stroke-linecap: round;
    transform-origin: 50% 50%;
    transition: all 0.2s ease-in-out 0s;
    animation: 2s linear 0s infinite normal none running loading-spinner;
}

@keyframes loading-spinner {
    0% {
        stroke-dasharray: 0.01px, 43.97px;
        transform: rotate(0);
    }

    50% {
        stroke-dasharray: 21.99px, 21.99px;
        transform: rotate(450deg);
        stroke-width: 2.5px;
        stroke-dashoffset: 5px;
    }

    100% {
        stroke-dasharray: 0.01px, 43.97px;
        transform: rotate(1080deg);
    }
}